.search__box {
	padding: 16px 10px 0 16px
}

.search__item {
	overflow: hidden;
	margin-bottom: 16px
}

.item__left {
	width: 10%;
	float: left
}

.item__right {
	width: 90%;
	float: right
}

.search__btn {
	margin: 0
}

.btn__item {
	margin: 0 8px 10px 0!important;
	border: none!important;
	font-size: 13px;
	color: #999
}

.btn__item:hover {
	background: #efefef
}

.publish__text a:hover {
	color: #2093ff
}

.publish>span {
	font-style: oblique;
	margin-top: 26px;
	margin-bottom: 6px;
	font-size: 13px;
	color: #151519;
	display: block;
	text-align: center
}

.sc-box .sc-row .sc-row-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 12px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
}

.sc-box .sc-row .sc-row-options .option {
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin: 10px 5px 5px 0;
	cursor: pointer;
	min-width: 74px;
	border-radius: 3px;
	border: 1px solid #bfcbd9;
}

.sc-box .sc-row .sc-row-options .active {
	color: #fff;
	background-color: #1890ff;
	border-color: #1890ff;
}

.content {
	width:  862px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	margin-top: 130px;
	margin-left: 476px;
}
