<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.BrokeRuleMapper">
	<!-- 违规记录表表字段映射 -->
	<resultMap type="org.crowd.model.dto.BrokeRuleDto" id="initBrokeRuleDtoResultMap">
		<result column="BRE_ID" property="id" />
		<result column="BRE_STATE" property="state" />
		<result column="BRE_CREATE_TIME" property="createTime" />
		<result column="RUL_CONTENT" property="ruleContent" />
		<result column="RTE_NAME" property="ruleTypeName" />
		<result column="RTE_ID" property="ruleTypeId" />
		<result column="USE_NAME" property="useName" />
		<result column="BRE_RANK" property="rank" />
		<result column="RUL_ID" property="ruleId" />
	</resultMap>

	<!-- 曝光台配置界面数据初始化 -->
	<select id="initBrokeRule" resultMap="initBrokeRuleDtoResultMap">
		SELECT
		BRE_ID,BRE_STATE,RUL_CONTENT,BRE_CREATE_TIME,RTE_NAME,RTE_ID,USE_NAME,BRE_RANK,RUL_ID
		FROM T_BROKERULE A
		JOIN T_USER B ON A.BRE_USE_ID=B.USE_ID
		JOIN T_RULE C ON A.BRE_RUL_ID=C.RUL_ID
		JOIN T_RULETYPE D ON C.RUL_RTE_ID=D.RTE_ID
		AND A.BRE_STATE=1
		ORDER BY BRE_RANK
	</select>

	<select id="initBrokeRuleCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM T_BROKERULE A
		JOIN T_USER B ON A.BRE_USE_ID=B.USE_ID
		JOIN T_RULE C ON A.BRE_RUL_ID=C.RUL_ID
		JOIN T_RULETYPE D ON C.RUL_RTE_ID=D.RTE_ID
		AND A.BRE_STATE=1
	</select>

</mapper>
