<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.BuddingNeedMapper">

<!-- 服务商个人投标 -->
<insert id="buddingTenderSingle">
   INSERT INTO T_BID (BID_ID,BID_NEE_ID,BID_USE_ID,BID_MONEY,
BID_STATE,BID_PROJECT,BID_CREATE_TIME) VALUES (SEQ_BID.NEXTVAL,#{needId},#{ispId},0,0,#{content},SYSDATE)
   </insert>
<!-- 判断服务商是否投标过了 -->
<select id="checkIsBuddingSingle" resultType="java.lang.Integer">
SELECT COUNT(*) FROM T_BID WHERE BID_USE_ID =#{userId} AND BID_STATE =0 AND BID_NEE_ID = #{needId}

</select>


<!-- 判断是不是自己的需求 -->
<select id="checkIsMyselfNeed" resultType="java.lang.Integer">
SELECT COUNT(*) FROM T_NEED WHERE NEE_ID = #{needId} AND NEE_USE_ID = #{userId}
</select>

<!-- 检查联盟是否投过标了 -->
<select id="checkLeagueBudding" resultType="java.lang.Integer">
SELECT COUNT(*) FROM T_BID WHERE BID_NEE_ID = #{needId} AND BID_LEA_ID = #{leaId}
</select>

<!-- 联盟投标 -->
<insert id="buddingTenderLeague">
INSERT INTO T_BID (BID_ID,BID_NEE_ID,BID_LEA_ID,BID_STATE,BID_PROJECT,BID_CREATE_TIME) 
VALUES (SEQ_BID.NEXTVAL,#{needId},#{leaId},0,#{content},SYSDATE)
</insert>

</mapper>