<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.LeagueMapper">


<!-- 联盟的映射 -->
	<resultMap type="org.crowd.model.dto.LeaMange" id="LeaResultMap">
		<result column="LEA_ID" property="id" />
		<result column="LEA_NAME" property="name" />
		<result column="LEA_USE_ID" property="userId" />
		<result column="LEA_AUDIT_TIME" property="auditTime" />
		<result column="LEA_STATE" property="state" />
		<result column="LEA_MEMO" property="memo" />
		<result column="LEA_CREATE_TIME" property="createTime" />
		<result column="LEA_UPDATE_TIME" property="updateTime" />
		<result column="LEA_SRC" property="src" />
		<result column="USE_NAME" property="userName" />

	</resultMap>
<!-- 检测是否加入了联盟 -->
<select id="checkUserAddLea" resultMap="LeaResultMap">
SELECT * FROM T_LEA_USE_LINK LU  
 INNER JOIN T_LEAGUE L ON L.LEA_ID = LU.LUL_LEA_ID AND LU.LUL_USE_ID = #{userId} AND LU.LUL_STATE = 1
 INNER JOIN T_USER U ON U.USE_ID = L.LEA_USE_ID
</select>

<!-- 新建一个联盟 -->
<insert id="createNewLeague">
INSERT INTO T_LEAGUE (LEA_ID,LEA_NAME,LEA_USE_ID,LEA_AUDIT_TIME,LEA_STATE,LEA_SRC,LEA_CREATE_TIME,LEA_MEMO)                
 VALUES (SEQ_LEA.NEXTVAL,#{leaName},#{userId},NULL,0,#{src},SYSDATE,#{content})

</insert>

<!-- 检查联盟名是否重复 -->
<select id="checkLeaNameIsReapet" resultType="java.lang.Integer">
SELECT COUNT(*) FROM T_LEAGUE WHERE LEA_NAME = #{leaName}

</select>
<!-- 统计某个联盟的人数 -->
<select id="selectLeaCountWithLeaId" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LEA_USE_LINK 
        WHERE LUL_STATE = 1 AND LUL_LEA_ID = #{leaId}
	</select>
	
<!-- 查询联盟的数据 -->
	<select id="selectLeaMeg" resultMap="LeaResultMap">
		SELECT * FROM T_LEAGUE L
		INNER JOIN T_USER U ON L.LEA_USE_ID = U.USE_ID AND L.LEA_STATE = 1
	</select>	
	
	<!--查询联盟的数量 -->

	<select id="selectLeaCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LEAGUE L
		INNER JOIN T_USER U ON L.LEA_USE_ID = U.USE_ID AND L.LEA_STATE = 1
	</select>
	<!-- 检查用户是否为盟主 -->
	<select id="checkUserIsLeaMaster" resultMap="LeaResultMap">
		SELECT * FROM T_LEAGUE WHERE LEA_USE_ID = #{userId} AND LEA_STATE =1
	</select>
	
	<!-- 申请加入联盟 -->
	
	<insert id="applyJoinLeague">
	INSERT INTO T_LEA_USE_LINK (LUL_ID,LUL_USE_ID,LUL_LEA_ID,LUL_STATE,LUL_CREATE_TIME)
              VALUES (SEQ_LUL.NEXTVAL,#{userId},#{leaId},0,SYSDATE)
	</insert>
	<!-- //查服务商是否申请过这个联盟了 -->
	 
	<select id="checkUserIsApplyThisLea" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LEA_USE_LINK WHERE LUL_USE_ID = #{userId} AND LUL_LEA_ID = #{leaId} AND LUL_STATE = 0
	</select>
	
	
	
	<!-- 联盟申请人的映射 -->
	<resultMap type="org.crowd.model.dto.LeaUserLinkDto" id="LeaUserLinkDtoResultMap">
		<result column="LUL_ID" property="id" />
		<result column="LUL_USE_ID" property="userId" />
		<result column="LUL_LEA_ID" property="leaId" />
		<result column="LUL_STATE" property="state" />
		<result column="LUL_MEMO" property="memo" />
		<result column="LUL_CREATE_TIME" property="createTime" />
		<result column="LUL_UPDATE_TIME" property="updateTime" />
		<result column="USE_NAME" property="leaUserName" />

	</resultMap>
	<!-- 联盟申请人的信息 -->
	<select id="selectPeopleWithLeague" resultMap="LeaUserLinkDtoResultMap">
	SELECT * FROM T_LEA_USE_LINK LU 
INNER JOIN T_USER U ON U.USE_ID = LU.LUL_USE_ID AND LU.LUL_LEA_ID = #{leaId}
AND U.USE_NAME LIKE CONCAT(CONCAT('%',#{check_name}),'%')
<if test="check_state != null and check_state !=-1 ">
		AND LU.LUL_STATE = #{check_state} 	
		</if>
<if test="check_time_from != null and check_time_from !='' ">
			AND TO_CHAR(LU.LUL_CREATE_TIME,'YYYY-MM-DD')&gt;= #{check_time_from} AND
			TO_CHAR(LU.LUL_CREATE_TIME,'YYYY-MM-DD')&lt;= #{check_time_to}
		</if>	
	</select>
	
	<!-- 联盟申请人的数量 -->
	<select id="selectPeopleWithLeagueCount" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM T_LEA_USE_LINK LU 
INNER JOIN T_USER U ON U.USE_ID = LU.LUL_USE_ID AND LU.LUL_LEA_ID = #{leaId}
 AND U.USE_NAME LIKE CONCAT(CONCAT('%',#{check_name}),'%')
<if test="check_state != null and check_state !=-1 ">
		AND LU.LUL_STATE = #{check_state} 	
		</if>
<if test="check_time_from != null and check_time_from !='' ">
			AND TO_CHAR(LU.LUL_CREATE_TIME,'YYYY-MM-DD')&gt;= #{check_time_from} AND
			TO_CHAR(LU.LUL_CREATE_TIME,'YYYY-MM-DD')&lt;= #{check_time_to}
		</if>	
	</select>
	
	<!-- 改变联盟成员审核状态 -->
	<update id="updateLeagueUserState">
	UPDATE T_LEA_USE_LINK SET LUL_STATE = #{state},LUL_UPDATE_TIME = SYSDATE 
WHERE LUL_ID = #{audiId}
	
	</update>
	
	<!-- 剔除某个联盟成员 -->
	<delete id="deleteLeagueUser">
	DELETE FROM T_LEA_USE_LINK WHERE LUL_ID = #{audiId}
	
	</delete>
	
</mapper>