<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.LinkerMapper">

	<resultMap type="org.crowd.model.Linker" id="LinkerResultMap">
		<result column="LIN_ID" property="id"></result>
		<result column="LIN_NAME" property="name"></result>
		<result column="LIN_LINK" property="link"></result>
		<result column="LIN_STATE" property="state"></result>
		<result column="LIN_CREATE_TIME" property="createTime"></result>
	</resultMap>

	

	<select id="initLinker" resultMap="LinkerResultMap">
	SELECT * FROM T_LINKER WHERE LIN_STATE=1
	
	</select>


</mapper>