<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.LogMapper">

<!-- 	<resultMap type="org.crowd.model.Log" id="LogResultMap">
		<result column="LOG_ID" property="id"></result>
		<result column="LOG_NAME" property="name"></result>
		<result column="LOG_CONTENT" property="content"></result>
		<result column="LOG_CREATE_TIME" property="createTime"></result>
	</resultMap> -->

	<insert id="createLog">
		INSERT INTO T_LOG VALUES(SEQ_LOG.NEXTVAL,#{content},#{name},NULL,SYSDATE,NULL)
	</insert>

</mapper>