<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
     "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="org.crowd.dao.ServerTypeMapper">
   
   
  <!-- 服务类型对象映射 -->
     <resultMap type="org.crowd.model.dto.ServerType_picture" id="ServerType_pictureResultMap">
     <result column="STE_ID" property="id" />
     <result column="STE_NAME" property="name" />
     <result column="PIC_SRC" property="picUrl" />
     <result column="PIC_NAME" property="picName" />
     <result column="PIC_ID" property="picId" />
     </resultMap>
   <!-- 服务图标对象映射 -->
     <resultMap type="org.crowd.model.Picture" id="PictureResultMap">
     <result column="PIC_ID" property="id" />
     <result column="PIC_NAME" property="name" />
     <result column="PIC_SRC" property="url" />
    
     </resultMap>   
   <!-- 查找所有配置过的需求类型 -->
     <select id="selectServerType" resultMap="ServerType_pictureResultMap">
     SELECT * FROM T_SERVERTYPE LEFT JOIN T_PICTURE ON STE_PIC_ID=PIC_ID
     </select>
     
   <!-- 获取所有的服务图标 -->
     <select id="selectPicture" resultMap="PictureResultMap">
     SELECT * FROM T_PICTURE
     </select>
    
    <!-- 添加新的服务类型 -->
     <insert id="addServerType" >
     INSERT INTO T_SERVERTYPE VALUES(SEQ_STE.NEXTVAL,#{name},#{id})
     </insert> 
     
     <!-- 查看服务类型是否重复 -->
     <select id="checkServerType" resultType="java.lang.Integer">
     SELECT count(*) FROM T_SERVERTYPE WHERE STE_NAME=#{name}
     </select>

</mapper>