<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.StoryMapper">

	<resultMap type="org.crowd.model.Story" id="StoryResultMap">
		<result column="STO_ID" property="id"></result>
		<result column="STO_TITLE" property="title"></result>
		<result column="STO_CONTENT" property="content"></result>
		<result column="USE_NAME" property="useName"></result>
		<result column="STO_STATE" property="state"></result>
		<result column="STO_RANK" property="rank"></result>
		<result column="STO_CREATE_TIME" property="createTime"></result>
	</resultMap>

	<select id="countAllStorys" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_STORY S JOIN T_USER U ON S.STO_USE_ID=U.USE_ID AND
		S.STO_STATE=1
	</select>

	<select id="showAllStorys" resultMap="StoryResultMap">
		SELECT S.*,U.USE_NAME FROM T_STORY S JOIN T_USER U ON S.STO_USE_ID=U.USE_ID
		AND S.STO_STATE=1 ORDER BY S.STO_RANK
	</select>

</mapper>