<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.UserMapper">

	<resultMap type="org.crowd.model.User" id="UserResultMap">
		<result column="USE_ID" property="id"></result>
		<result column="USE_ACC" property="acc"></result>
		<result column="USE_PWD" property="pwd"></result>
		<result column="USE_NAME" property="name"></result>
		<result column="USE_PHONE" property="phone"></result>
		<result column="USE_EMAIL" property="email"></result>
		<result column="USE_MONEY" property="money"></result>
		<result column="USE_SCORE" property="score"></result>
		<result column="USE_TYPE" property="type"></result>
		<result column="USE_STATE" property="state"></result>
		<result column="USE_CREATE_TIME" property="createTime"></result>
		<result column="USE_MEMO" property="memo"></result>
		<result column="USE_SRC" property="src"></result>
	</resultMap>

	<select id="login" resultMap="UserResultMap">
		SELECT U.* FROM T_USER U WHERE U.USE_ACC=#{acc} AND U.USE_PWD=#{pwd}
	</select>

	<select id="checkUserName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_USER U WHERE U.USE_NAME=#{name} AND U.USE_ID<![CDATA[ <> ]]>#{id}
	</select>

	<update id="updateUserInfo">
		UPDATE T_USER U SET U.USE_SRC=#{src},U.USE_NAME= #{name},U.USE_MEMO= #{memo},U.USE_PHONE=
		#{phone},U.USE_EMAIL=
		#{email} WHERE U.USE_ID= #{id}
	</update>

	<select id="afterUpdate" resultMap="UserResultMap">
		SELECT U.* FROM T_USER U WHERE U.USE_ID=#{id}
	</select>

	<update id="recharge">
		UPDATE T_USER U SET U.USE_MONEY=(U.USE_MONEY + #{money}) WHERE U.USE_ID=#{id}
	</update>

	<!-- 联盟的映射 -->
	<resultMap type="org.crowd.model.dto.LeaMange" id="LeaResultMap">
		<result column="LEA_ID" property="id" />
		<result column="LEA_NAME" property="name" />
		<result column="LEA_USE_ID" property="userId" />
		<result column="LEA_AUDIT_TIME" property="auditTime" />
		<result column="LEA_STATE" property="state" />
		<result column="LEA_MEMO" property="memo" />
		<result column="LEA_CREATE_TIME" property="createTime" />
		<result column="LEA_UPDATE_TIME" property="updateTime" />
		<result column="LEA_SRC" property="src" />

	</resultMap>
	<!-- 检查用户是否为盟主 -->
	<select id="checkUserIsLeaMan" resultMap="LeaResultMap">
		SELECT * FROM T_LEAGUE WHERE LEA_USE_ID = #{userId} AND LEA_STATE !=2
	</select>

	<!-- 查看账号是否重复 -->
	<select id="checkUserAcc" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_USER U WHERE U.USE_ACC=#{acc}
	</select>

	<!-- 查看账号是否重复 -->
	<select id="checkRegName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_USER U WHERE U.USE_NAME=#{name}
	</select>

	<!-- 注册 -->
	<insert id="reg">
		INSERT INTO T_USER VALUES(SEQ_USE.NEXTVAL,#{acc},#{pwd},#{name},
		#{phone},#{email},0,100,0,1,'img/head.jpg',NULL,SYSDATE,NULL)
	</insert>

	<update id="payAccount">
		UPDATE T_USER U SET U.USE_MONEY=(U.USE_MONEY - #{money}) WHERE U.USE_ID=#{id}
	</update>

	<update id="updatePwd">
		UPDATE T_USER U SET U.USE_PWD= #{newPwd} WHERE U.USE_ID=#{id}
	</update>

	
	 <!-- 查询卖家ID-->
      <select id="selectUserId" resultType="java.lang.Integer">
		SELECT USE_ID FROM T_USER WHERE USE_NAME=#{userName}
     </select>

	
	<update id="beProvider">
		UPDATE T_USER U SET U.USE_TYPE= #{providerId} WHERE U.USE_ID=#{userId}
	</update>

</mapper>