<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.WorkTableMapper">
	
<!-- 需求对象NeedDeti映射 -->
<resultMap type="org.crowd.model.dto.NeedDeti" id="NeedDetiMap">
		<result column="NEE_ID" property="id"></result>
		<result column="NEE_TITLE" property="title"></result>
		<result column="NEE_CONTENT" property="content"></result>
		<result column="NEE_DEMAND" property="demand"></result>
		<result column="NEE_MONEY" property="money"></result>
		<result column="NEE_USE_ID" property="userId"></result>
		<result column="NEE_TYPE" property="type"></result>
		<result column="NEE_STATE" property="state"></result>
		<result column="NEE_END_TIME" property="endTime"></result>
		<result column="NEE_MEMO" property="memo"></result>
		<result column="NEE_CREATE_TIME" property="createTime"></result>
		<result column="NEE_UPDATE_TIME" property="updateTime"></result>
		<result column="USE_NAME" property="userName"></result>
		<result column="NTE_NAME" property="nteName"></result>
		<result column="USE_ID" property="bidUserId"></result>
		<result column="USE_NAME" property="bidUserName"></result>
		<result column="BID_ID" property="bidId"></result>
		<result column="LEA_ID" property="leaId"></result>
		<result column="LEA_NAME" property="leaName"></result>
		<result column="USE_PHONE" property="userPhone"></result>
		<result column="NEE_SRC" property="workUrl"></result>
	</resultMap>
	<!-- 作品表字段映射 -->
	<resultMap type="org.crowd.model.dto.WorkDto" id="initWorkDtoResultMap">
		<result column="WOR_ID" property="id" />
		<result column="WOR_TITLE" property="title" />
		<result column="WOR_CONTENT" property="content" />
		<result column="WOR_UPDATE_TIME" property="updateTime" />
		<result column="USE_NAME" property="useName" />
		<result column="WOR_MONEY" property="money" />
		<result column="WOR_STATE" property="state" />
		<result column="WOR_TYPE" property="type" />
		<result column="WOR_IMG" property="src" />
		<result column="NTE_NAME" property="neeName" />
		<result column="WOR_CREATE_TIME" property="createTime" />
		<result column="WOR_BUYER_ID" property="buyerId" />
		<result column="WOR_MEMO" property="fileSrc" />
		<result column="USE_PHONE" property="phone" />
	</resultMap>
	
	<!-- 显示自己正在发布的需求 -->
      <select id="showMyselfNeeding" resultMap="NeedDetiMap">
     SELECT * FROM T_NEED N
     <if test="type==0 or type==1"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =0 
 </if>
 <if test="type==2">
 INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND N.NEE_STATE =3 AND B.BID_STATE = 1
 LEFT JOIN T_USER U ON B.BID_USE_ID = U.USE_ID
 LEFT JOIN T_LEAGUE L ON L.LEA_ID = B.BID_LEA_ID
 </if>
 <if test="type==3"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =5 
 </if>
 <if test="type==4"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =4 
 </if>
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>  
INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID 
AND N.NEE_USE_ID = #{userId} ORDER BY N.NEE_ID DESC
     </select>


<!-- 需求的数量 -->
<select id="showMyselfNeedingCount" resultType="java.lang.Integer">
     SELECT COUNT(*) FROM T_NEED N
     <if test="type==0 or type==1"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =0 
 </if>
 <if test="type==2">
 INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND N.NEE_STATE =3 AND B.BID_STATE = 1
 LEFT JOIN T_USER U ON B.BID_USE_ID = U.USE_ID
 LEFT JOIN T_LEAGUE L ON L.LEA_ID = B.BID_LEA_ID
 </if>
 <if test="type==3"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =5 
 </if>
 <if test="type==4"> 
INNER JOIN T_USER U ON N.NEE_USE_ID = U.USE_ID AND N.NEE_STATE =4 
 </if>
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>  
INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID 
AND N.NEE_USE_ID = #{userId}  
     </select>
     
  <!-- 检测需求是否已有人投标 -->   
     
 <select id="checkNeedIsBid" resultType="java.lang.Integer">
 SELECT COUNT(*) FROM T_BID WHERE BID_NEE_ID = #{needId} AND BID_STATE = 0
 
 </select>  
 
 
 <!--修改用户的信息分  -->  
 
 <update id="updateUserScore">
 UPDATE T_USER SET USE_SCORE = USE_SCORE+#{score} WHERE USE_ID = #{userId}
 
 </update>
 
 <!-- 查询自己的订单 -->
 <select id="showMyselfBiding" resultMap="NeedDetiMap">
 SELECT * FROM T_NEED N 
INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND B.BID_USE_ID =#{userId} AND B.BID_STATE = #{state}               
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
<if test="type!=5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE = #{nState}
</if> 
<if test="type==5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE IN(#{nState},4)
</if>
INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID ORDER BY N.NEE_ID DESC
 </select>
 <!-- 查询自己的订单数量 -->
 <select id="showMyselfBidingCount" resultType="java.lang.Integer">
SELECT COUNT(*) FROM T_NEED N 
INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND B.BID_USE_ID =#{userId} AND B.BID_STATE = #{state}               
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
<if test="type!=5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE = #{nState}
</if> 
<if test="type==5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE IN(#{nState},4)
</if>
INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID ORDER BY N.NEE_ID DESC
 </select>
 
 <!-- 取消投标 -->
 <delete id="deleteMyselfBid">
 DELETE FROM T_BID WHERE BID_ID = #{bidId}
 </delete>
 
 <!-- 我的作品的数量 -->
	<select id="initMyWorkCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_WORKS T
		INNER JOIN T_USER U ON T.WOR_USE_ID = U.USE_ID 
		INNER JOIN T_NEEDTYPE NE
		ON T.WOR_TYPE = NE.NTE_ID
		AND U.USE_ID =#{userId}
		AND T.WOR_STATE !=8
		
		
	</select>

	<!--显示我的作品 -->
	<select id="initMyWork" resultMap="initWorkDtoResultMap">
		SELECT * FROM T_WORKS T
		INNER JOIN T_USER U ON T.WOR_USE_ID= U.USE_ID 
		INNER JOIN T_NEEDTYPE NE ON T.WOR_TYPE = NE.NTE_ID
		AND U.USE_ID =#{userId}
		AND T.WOR_STATE !=8
		ORDER BY T.WOR_ID DESC
	
	</select>
	
		<!--上架下架 删除作品   -->
	<update id="updateState" >
		UPDATE T_WORKS T SET T.WOR_STATE=#{state} WHERE T.WOR_ID=#{workId}
	</update>
	
		<!--修改我的作品    -->
	<update id="motifyMyWork" >
		UPDATE T_WORKS T SET T.WOR_title=#{title},
		T.wor_money=#{money},T.wor_type=#{typeId},
		T.wor_content=#{workContent},T.wor_img=#{img}
		WHERE T.WOR_ID=#{workId}
	</update>
	
	<!-- 我购买的作品的数量 -->
	<select id="initBuyerWorkCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_WORKS T
		INNER JOIN T_USER U ON T.WOR_USE_ID = U.USE_ID 
		INNER JOIN T_NEEDTYPE NE
		ON T.WOR_TYPE = NE.NTE_ID
		AND WOR_BUYER_ID =#{userId}
		AND T.WOR_STATE !=8
		
		
		
	</select>

	<!--显示我购买的作品 -->
	<select id="initBuyerWork" resultMap="initWorkDtoResultMap">
		
		SELECT * FROM T_WORKS T
		INNER JOIN T_USER U ON T.WOR_USE_ID= U.USE_ID 
		INNER JOIN T_NEEDTYPE NE ON T.WOR_TYPE = NE.NTE_ID
		AND WOR_BUYER_ID =#{userId}
		AND T.WOR_STATE !=8
		ORDER BY T.WOR_ID DESC
		
	</select>
	
	<!--购买的商品确认收货   -->
	<update id="okBuy" >
		UPDATE T_WORKS T SET T.WOR_STATE=3 WHERE T.WOR_ID=#{workId}
	</update>
	
	<!-- 买家加钱-->
      <update id="motifySellerMoney" >
		UPDATE T_USER SET USE_MONEY =USE_MONEY+#{workMoney} WHERE USE_ID=#{buyerId}
     </update> 
     <!-- 商品购买人变成NULL-->
      <update id="updateBuyerId" >
		UPDATE T_WORKS SET WOR_BUYER_ID =NULL WHERE WOR_ID=#{workId}
     </update> 
 
 <update id="updateNeedSrc">
 UPDATE T_NEED SET NEE_SRC =#{src} WHERE NEE_ID=#{needId}
 
 </update>
 
 <!-- 联盟的投标信息 -->
 <select id="showLeagureBiding" resultMap="NeedDetiMap">
 SELECT * FROM T_NEED N 
INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND B.BID_LEA_ID =#{leaId} AND B.BID_STATE = #{state}               
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
<if test="type!=5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE = #{nState}
</if>
<if test="type==5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE IN(#{nState},4)
</if>

INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID ORDER BY N.NEE_ID DESC
 </select>
 
 <!-- 联盟的投标信息数量-->
 <select id="showLeagureBidingCount" resultType="java.lang.Integer">
 SELECT COUNT(*) FROM T_NEED N 
INNER JOIN T_BID B ON B.BID_NEE_ID = N.NEE_ID AND B.BID_LEA_ID =#{leaId} AND B.BID_STATE = #{state}               
<if test="type==0">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
 <if test="type==1">
AND TO_CHAR(N.NEE_END_TIME,'YYYY-MM-DD')&lt;TO_CHAR(SYSDATE,'YYYY-MM-DD')
</if>
<if test="type!=5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE = #{nState}
</if>
<if test="type==5">
INNER JOIN T_USER U ON U.USE_ID = N.NEE_USE_ID AND N.NEE_STATE IN(#{nState},4)
</if>

INNER JOIN T_NEEDTYPE NE ON N.NEE_TYPE = NE.NTE_ID
 </select>
 
 <!-- 根据联盟id查盟主id -->
 <select id="selectMasterIdWithLeaId" resultType="java.lang.Integer">
 
 SELECT LEA_USE_ID FROM T_LEAGUE WHERE LEA_ID = #{leaId}
 </select>
 
  <update id="updateWorkSrc">
 UPDATE T_WORKS SET WOR_MEMO =#{src},WOR_STATE=5 WHERE WOR_ID=#{workId}
 
 </update>
 
</mapper>