<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.LeaManageMapper">

	<!-- 盟主（user对象的一部分）映射 -->
	<resultMap type="org.crowd.model.User"
		id="LeaMasterResultMap">
		<result column="USE_NAME" property="name" />
		<result column="USE_ID" property="id" />

	</resultMap>
	<select id="selectLeaMaster" resultMap="LeaMasterResultMap">
		SELECT * FROM T_LEAGUE L
		INNER JOIN T_USER U ON L.LEA_USE_ID = U.USE_ID
	</select>


	<!--查询联盟的数量 -->

	<select id="selectLeaCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LEAGUE L
		INNER JOIN T_USER U ON L.LEA_USE_ID =
		U.USE_ID
		AND L.LEA_NAME LIKE CONCAT(CONCAT('%',#{leaName}),'%')
		<if test="leaMasterId != -1 and leaMasterId !=null ">
			AND L.LEA_USE_ID = #{leaMasterId}
		</if>
		<if test="sTime != null and sTime !='' ">
			AND TO_CHAR(L.LEA_CREATE_TIME,'YYYY-MM-DD')&gt;= #{sTime} AND
			TO_CHAR(L.LEA_CREATE_TIME,'YYYY-MM-DD')&lt;= #{eTime}
		</if>
	</select>

	<!-- 联盟管理的映射 -->
	<resultMap type="org.crowd.model.dto.LeaMange" id="LeaMangeResultMap">
		<result column="LEA_ID" property="id" />
		<result column="LEA_NAME" property="name" />
		<result column="USE_NAME" property="userName" />
        <result column="LEA_CREATE_TIME" property="createTime" />
        <result column="LEA_STATE" property="state" />
        
	</resultMap>

	<!-- 查询联盟的数据 -->
	<select id="selectLeaMeg" resultMap="LeaMangeResultMap">
		SELECT * FROM T_LEAGUE L
		INNER JOIN T_USER U ON L.LEA_USE_ID = U.USE_ID
		AND L.LEA_NAME LIKE CONCAT(CONCAT('%',#{leaName}),'%')
		<if test="leaMasterId != -1 and leaMasterId !=null ">
			AND L.LEA_USE_ID = #{leaMasterId}
		</if>
		<if test="sTime != null and sTime !='' ">
			AND TO_CHAR(L.LEA_CREATE_TIME,'YYYY-MM-DD')&gt;= #{sTime} AND
			TO_CHAR(L.LEA_CREATE_TIME,'YYYY-MM-DD')&lt;= #{eTime}
		</if>
	</select>
     <!-- 修改联盟的状态 -->
     <update id="updateLeaState">

UPDATE T_LEAGUE SET LEA_STATE = #{state},LEA_UPDATE_TIME = SYSDATE WHERE LEA_ID = #{leaId}
</update>
     
    <!-- 查看联盟成员 --> 
   <select id="selectUserWithLea" resultType="java.lang.String">
	SELECT USE_NAME FROM T_LEA_USE_LINK L 
INNER JOIN T_USER U ON L.LUL_USE_ID = U.USE_ID 
AND L.LUL_LEA_ID = #{leaId}	AND L.LUL_STATE = 1
	</select>  
     

<!-- 统计某个联盟的人数 -->
<select id="selectLeaCountWithLeaId" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LEA_USE_LINK 
        WHERE LUL_STATE = 1 AND LUL_LEA_ID = #{leaId}
	</select>

</mapper>