<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.LinkerMapper">

	<resultMap type="org.crowd.model.Linker" id="LinkerResultMap">
		<result column="LIN_ID" property="id"></result>
		<result column="LIN_NAME" property="name"></result>
		<result column="LIN_LINK" property="link"></result>
		<result column="LIN_STATE" property="state"></result>
		<result column="LIN_CREATE_TIME" property="createTime"></result>
	</resultMap>

	<select id="countAllLinkers" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LINKER L WHERE L.LIN_NAME LIKE CONCAT(CONCAT('%',#{name}),'%')
		<if test="time_from != null and time_from != '' ">
			AND TO_CHAR(L.LIN_CREATE_TIME,'YYYY-MM-DD')&gt;= #{time_from} AND
			TO_CHAR(L.LIN_CREATE_TIME,'YYYY-MM-DD')&lt;= #{time_to}
		</if>
		<if test="state != null ">
			AND L.LIN_STATE= #{state}
		</if>
	</select>

	<select id="showAllLinkers" resultMap="LinkerResultMap">
		SELECT L.* FROM T_LINKER L WHERE L.LIN_NAME LIKE CONCAT(CONCAT('%',#{name}),'%')
		<if test="time_from != null and time_from != '' ">
			AND TO_CHAR(L.LIN_CREATE_TIME,'YYYY-MM-DD')&gt;= #{time_from} AND
			TO_CHAR(L.LIN_CREATE_TIME,'YYYY-MM-DD')&lt;= #{time_to}
		</if>
		<if test="state != null ">
			AND L.LIN_STATE= #{state}
		</if>
	</select>

	<select id="checkLinkerName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LINKER L WHERE L.LIN_NAME=#{name}
	</select>

	<insert id="createLinker">
		INSERT INTO T_LINKER
		VALUES(SEQ_LIN.NEXTVAL,#{name},#{link},0,NULL,SYSDATE,NULL)
	</insert>

	<update id="updateLinker">
		UPDATE T_LINKER L SET L.LIN_NAME= #{name},L.LIN_LINK= #{link},L.LIN_UPDATE_TIME=SYSDATE WHERE
		L.LIN_ID= #{id}
	</update>

	<select id="checkUpdateName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_LINKER L WHERE L.LIN_NAME= #{name} AND L.LIN_ID<![CDATA[ <> ]]>#{id}
	</select>

	<delete id="delLinker">
		DELETE FROM T_LINKER L WHERE L.LIN_ID= #{id}
	</delete>

	<update id="uplineLinker">
		UPDATE  T_LINKER L SET L.LIN_STATE=1 WHERE L.LIN_ID= #{id}
	</update>

	<update id="downlineLinker">
		UPDATE  T_LINKER L SET L.LIN_STATE=0 WHERE L.LIN_ID= #{id}
	</update>

</mapper>