<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.RuleMapper">

	<resultMap type="org.crowd.model.dto.RuleCenter" id="ruleResultMap">
		<result column="RUL_ID" property="id"/>
		<result column="RUL_RTE_ID" property="rteId"/>
		<result column="RUL_CONTENT" property="content"/>
		<result column="RUL_SCORE" property="score"/>
		<result column="RUL_STATE" property="state"/>
		<result column="RTE_NAME" property="rteName"/>
	</resultMap>
	
	<insert id="createRule" >
		INSERT INTO T_RULE (RUL_ID,RUL_RTE_ID,RUL_CONTENT,RUL_SCORE,RUL_CREATE_TIME,RUL_STATE) VALUES(SEQ_RUL.NEXTVAL,#{rteId},
			#{content},#{score},SYSDATE,#{state})
	</insert>
	
	<delete id="deleteRule">
		DELETE FROM T_RULE WHERE RUL_ID=#{id}
	</delete>
	
	<update id="modifyRule">
		UPDATE T_RULE SET RUL_RTE_ID=#{rteId},RUL_CONTENT=#{content},RUL_SCORE=#{score},RUL_UPDATE_TIME=SYSDATE,RUL_STATE=#{state} WHERE RUL_ID=#{id}	
	</update>
	
	<select id="searchRuleInfo"  resultMap="ruleResultMap" >
		SELECT 
		RUL_ID,RUL_CONTENT,RUL_SCORE,RUL_STATE,RTE_NAME,RUL_RTE_ID
		FROM T_RULE A INNER JOIN T_RULETYPE B ON A.RUL_RTE_ID=B.RTE_ID
		<where>
		 	<if test="rteId!=null  ">
		 		AND B.RTE_ID=#{rteId}
		 	</if>
		 	<if test="state!=null " >
		 		AND A.RUL_STATE=#{state}
		 	</if>
		 	<if test="content!='' and content!=null " >
		 		AND A.RUL_CONTENT LIKE CONCAT(CONCAT('%',#{content}),'%')
		 	</if>		 
		</where>
	</select>
	
	<select id="searchRuleCount"  resultType="java.lang.Integer">
		SELECT 
		COUNT(*) C 
		FROM T_RULE A INNER JOIN T_RULETYPE B ON A.RUL_RTE_ID=B.RTE_ID
		<where>
		 	<if test="rteId!=null ">
		 		AND B.RTE_ID=#{rteId}
		 	</if>
		 	<if test="state!=null " >
		 		AND A.RUL_STATE=#{state} 
		 	</if>
		 	<if test="content!='' and content!=null" >
		 		AND A.RUL_CONTENT LIKE CONCAT(CONCAT('%',#{content}),'%')
		 	</if>		 
		</where>
	</select>
	
	<update id="changeRuleState">
		UPDATE T_RULE SET RUL_STATE=#{state} WHERE RUL_ID=#{id}
	</update>
	
	
</mapper>	
	