<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.SucCaseMapper">

	<!-- 成功案例映射 -->
	<resultMap type="org.crowd.model.dto.SucCase" id="sucCaseResultMap">
		<result column="U_NAME" property="useName" />
		<result column="PRO_NAME" property="serName" />
		<result column="LEA_NAME" property="leaName" />
		<result column="WOR_TITLE" property="worTitle" />
		<result column="NEE_TITLE" property="neeTitle" />
		<result column="ACC_MONEY" property="money" />
		<result column="ACC_UPDATE" property="updateTime" />
		<result column="SCE_ID" property="sucId" />
		<result column="SCE_TITLE" property="sucTitle" />
		<result column="SCE_CONTENT" property="sucContent" />		
		<result column="SCE_ACC_ID" property="sucAccId" />
		<result column="SCE_STATE" property="sucState" />
		<result column="SCE_RANK" property="sucRank" />
	</resultMap>


	<!-- 成功案例的条数 -->
	<select id="searchSucCaseCount" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM T_ACCOUNTS A INNER JOIN T_SUCCASE S ON A.ACC_ID=S.SCE_ACC_ID
    	INNER JOIN T_USER U
		ON U.USE_ID = A.ACC_USE_ID AND A.ACC_STATE = 1
    	LEFT JOIN T_USER US ON A.ACC_PRO_ID = US.USE_ID
		LEFT JOIN T_NEED N ON A.ACC_NEE_ID = N.NEE_ID
		LEFT JOIN T_WORKS W ON A.ACC_WOR_ID = W.WOR_ID
		LEFT JOIN T_LEAGUE L ON A.ACC_LEA_ID = L.LEA_ID
		<where>
			<if test="title != null and title != '' ">
			AND S.SCE_TITLE LIKE CONCAT(CONCAT('%',#{title}),'%')	
			</if>
			<if test="content != null and content != '' ">
			AND S.SCE_CONTENT LIKE CONCAT(CONCAT('%',#{content}),'%')
			</if>
			<if test="state != null ">
			AND S.SCE_STATE=#{state}
			</if>
       </where> 
	</select>




	<!-- 成功案例的数据 -->
	<select id="searchSucCaseInfo" resultMap="sucCaseResultMap">
		SELECT U.USE_NAME U_NAME,US.USE_NAME PRO_NAME,
		L.LEA_NAME,W.WOR_TITLE,N.NEE_TITLE,A.ACC_MONEY,A.ACC_UPDATE,S.SCE_ID,S.SCE_TITLE,S.SCE_CONTENT,S.SCE_ACC_ID,S.SCE_STATE,S.SCE_RANK 
		FROM T_ACCOUNTS A INNER JOIN T_SUCCASE S ON A.ACC_ID=S.SCE_ACC_ID
    	INNER JOIN T_USER U
		ON U.USE_ID = A.ACC_USE_ID AND A.ACC_STATE = 1
    	LEFT JOIN T_USER US ON A.ACC_PRO_ID = US.USE_ID
		LEFT JOIN T_NEED N ON A.ACC_NEE_ID = N.NEE_ID
		LEFT JOIN T_WORKS W ON A.ACC_WOR_ID = W.WOR_ID
		LEFT JOIN T_LEAGUE L ON A.ACC_LEA_ID = L.LEA_ID
		<where>
			<if test="title != null and title != '' ">
			AND S.SCE_TITLE LIKE CONCAT(CONCAT('%',#{title}),'%')	
			</if>
			<if test="content != null and content != '' ">
			AND S.SCE_CONTENT LIKE CONCAT(CONCAT('%',#{content}),'%')
			</if>
			<if test="state != null ">
			AND S.SCE_STATE=#{state}
			</if>
       </where> 
	</select>
	
	<select id="searchAccId" resultType="java.lang.Integer">
		SELECT 
		ACC_ID 
		FROM T_ACCOUNTS A WHERE ACC_ID 
		NOT IN 
		(SELECT SCE_ACC_ID FROM T_SUCCASE) ORDER BY ACC_ID
	</select>
	
	<!-- 新增一条成功案例 -->
	<insert id="createSucCase" >
		INSERT INTO T_SUCCASE 
		(SCE_ID,SCE_TITLE,SCE_CONTENT,SCE_ACC_ID,SCE_STATE,SCE_RANK,SCE_CREATE_TIME) 
		VALUES
		(SEQ_SCE.NEXTVAL,#{title},#{content},#{sucAccId},0,SEQ_SCE_RANK.NEXTVAL,SYSDATE)
	</insert>
	
	
	<!-- 删除一条成功案例 -->
	<delete id="deleteSucCase">
		DELETE T_SUCCASE WHERE SCE_ID=#{id}
	</delete>
	
	<!-- 修改一条成功案例 -->
	<update id="modifySucCase">
		UPDATE 
		T_SUCCASE SET SCE_TITLE=#{title},SCE_CONTENT=#{content},SCE_UPDATE_TIME=SYSDATE 
		WHERE SCE_ID=#{id}
	</update>
	
	<!-- 上线一条成功案例-->
	<update id="onlineSucCase">
		UPDATE T_SUCCASE SET SCE_STATE=1 WHERE SCE_ID=#{id}
	</update>
	
	<!-- 下线一条成功案例 -->
	<update id="offlineSucCase">
		UPDATE T_SUCCASE SET SCE_STATE=0 WHERE SCE_ID=#{id}
	</update>
	
	<!-- 将排序在某条案例前的所有案例后移一位 -->
	<update id="beforeStick">
		UPDATE T_SUCCASE S SET S.SCE_RANK=S.SCE_RANK+1 WHERE S.SCE_RANK &lt; #{rank}
	</update>
	
	<!-- 置顶成功案例 -->
	<update id="stickSucCase">
		UPDATE T_SUCCASE S SET S.SCE_RANK=1 WHERE S.SCE_ID=#{id}
	</update>
</mapper>