<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.UserMapper">
	<!-- 用户表字段映射 -->
	<resultMap type="org.crowd.model.User" id="initUserResultMap">
		<result column="USE_NAME" property="name" />
		<result column="USE_CREATE_TIME" property="createTime" />
		<result column="USE_STATE" property="state" />
		<result column="USE_PHONE" property="phone" />
		<result column="USE_EMAIL" property="email" />
		<result column="USE_SCORE" property="score" />
		<result column="USE_ID" property="id" />
		<result column="USE_TYPE" property="type" />

	</resultMap>

	<!-- 操作日志的添加 -->
	<insert id="addLog">
		INSERT INTO T_LOG
		VALUES(SEQ_LOG.NEXTVAL,#{content},#{adminName},null,sysdate,sysdate)
	</insert>

	<!-- 雇主管理界面数据分页 -->
	<select id="initUser" resultMap="initUserResultMap">
		SELECT * FROM T_USER WHERE

		<if test="type==0">
			use_type=#{type} AND use_name
			LIKE CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="type==1">
		use_type &gt;= 1 AND use_name
			LIKE CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="begin!=''">
			AND TO_CHAR(USE_CREATE_TIME,'yyyy-mm-dd')&gt;=#{begin}
			AND
			TO_CHAR(USE_CREATE_TIME,'yyyy-mm-dd')&lt;=#{end}
		</if>


	</select>
	<select id="initUserCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM T_USER WHERE

		<if test="type==0">
			use_type=#{type} AND use_name
			LIKE CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="type==1">
		use_type &gt;= 1 AND use_name
			LIKE CONCAT(CONCAT('%',#{name}),'%')
		</if>
		<if test="begin!=''">
			AND TO_CHAR(USE_CREATE_TIME,'yyyy-mm-dd')&gt;=#{begin}
			AND
			TO_CHAR(USE_CREATE_TIME,'yyyy-mm-dd')&lt;=#{end}
		</if>
	</select>

	<!-- 修改用户状态 -->
	<update id="motifyState">
		UPDATE T_USER SET use_state=#{state}
		WHERE USE_ID=#{userId}
	</update>

	<!-- 用户重置密码 -->
	<update id="resetPwd">
		UPDATE T_USER SET use_pwd='6c14da109e294d1e8155be8aa4b1ce8e' WHERE
		USE_ID=#{userId}
	</update>
  <!-- 设置或取消顾问资格 （zjw）-->
  <update id="canseOrSetAdv">
		UPDATE T_USER SET USE_TYPE=#{type} WHERE
		USE_ID=#{userId}
	</update>

</mapper>
