<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.crowd.dao.WorkMapper">
	<!-- 作品表字段映射 -->
	<resultMap type="org.crowd.model.dto.WorkDto" id="initWorkDtoResultMap">
		<result column="WOR_ID" property="id" />
		<result column="WOR_TITLE" property="title" />
		<result column="WOR_CONTENT" property="content" />
		<result column="WOR_UPDATE_TIME" property="updateTime" />
		<result column="USE_NAME" property="useName" />
		<result column="WOR_MONEY" property="money" />
		<result column="WOR_STATE" property="state" />
		<result column="WOR_TYPE" property="type" />
		<result column="NTE_NAME" property="neeName" />
	</resultMap>

	<!-- 作品管理数据初始化 -->
	<select id="initWork" resultMap="initWorkDtoResultMap">
		SELECT * FROM T_WORKS a 
		JOIN T_USER b ON a.wor_use_id=b.use_id 
		JOIN T_NEEDTYPE c ON a.wor_type=c.nte_id 
		WHERE b.use_name LIKE CONCAT(CONCAT('%',#{name}),'%') 

		<if test="begin!=''">
			AND TO_CHAR(WOR_UPDATE_TIME,'yyyy-mm-dd')&gt;=#{begin}
			AND TO_CHAR(WOR_UPDATE_TIME,'yyyy-mm-dd')&lt;=#{end}
		</if>
		<if test="state!=null">
			AND WOR_STATE=#{state}	
		</if>
		ORDER BY WOR_UPDATE_TIME DESC
	</select>
	<select id="initWorkCount" resultType="java.lang.Integer">
		SELECT count(*) FROM T_WORKS a 
		JOIN T_USER b ON a.wor_use_id=b.use_id 
		JOIN T_NEEDTYPE c ON a.wor_type=c.nte_id 
		WHERE b.use_name LIKE CONCAT(CONCAT('%',#{name}),'%')

		<if test="begin!=''">
			AND TO_CHAR(WOR_UPDATE_TIME,'yyyy-mm-dd')&gt;=#{begin}
			AND TO_CHAR(WOR_UPDATE_TIME,'yyyy-mm-dd')&lt;=#{end}
		</if>
		<if test="state!=null">
			AND WOR_STATE=#{state}	
		</if>
	</select>
	
	<!-- 作品的上架与下架 -->
	<update id="motifyWorkState">
		UPDATE T_WORKS SET wor_state=#{state},WOR_UPDATE_TIME=sysdate
		WHERE wor_id=#{workId}
	</update>


	
</mapper>
